$textdark: #1A181D;
$textlight:#939393;
$fontnormal: 400;
$font-mainsize: 1rem;
$main-font:'Inter',
sans-serif;

.navbar-position {
    margin-bottom: 3rem;
    padding-left: 2.3125rem;
    padding-right:2.6875rem;
    padding-top: 2rem;
}

.second-menu-position{
      @media (min-width: 768px) {
          padding-right: 2.5rem;
          padding-left: 2.5rem
      }
}
.home-navbar {
    a {
        font-size: 1rem;
        line-height: 1.21;
    }
}

.first-menu {
    a {
        color: $textdark;
        font-weight: $fontnormal;

        &:active {
            color: $textlight;
        }

        &:hover {
            color: $textlight;
        }

        &::after {
            display: none;
        }

    }

    .a--loginlink {
        font-weight: $fontnormal*2;
    }

    .a--active,
    .a--hover {
        font-weight: $fontnormal*2;
    }
}


.second-menu {
    li {
        padding-right: 3.5rem;
    }

    a {
        color: $textlight;
        font-weight: $fontnormal*2;

        padding-bottom: 0.4375rem;
        width: auto;

        &:active {
            color: $textdark;

        }

        &:hover {
            color: $textdark;
        }

        &::after {
            display: none;
        }

    }

    .a--active,
    .a--hover {
        color: $textdark;
        border-bottom: $textdark solid 2px;
    }


}

.link--mg {
    margin-right: 0.75rem;
}

/*search block*/
.search-container {
    height: 100%;
    margin-bottom: 3rem;
    position: relative;
}

.search-boxsize {
    background-color: #000000;
    height: 12.5rem;


}

.search-container {
    .search-form {
        width: 90%;
        height: 3rem;
         @media (min-width: 768px) {
            width: 31.2%;
            height: 3rem;
         }
        
    }
}

.search-form {
    .search-form__input {
        border-radius: 1rem 0 0 1rem;
        background-color: #ffffff;
        width: 75.064%;
        height: 2.875rem;
        font-size: 0.875rem;
        line-height: 1rem;
        padding: 0.875rem 0.875rem 0.9375rem 2.125rem;
        @media (min-width: 768px) {
             width: 80.064%;
        }


    }
}

.search-form__button {
    border-radius: 0rem 1rem 1rem 0;
    border: solid #ffffff 1px;
    background-color: transparent;
    width: auto;
    height: 2.875rem;
    &:active {
        background-color: #2e2c2c;
    }
    &.active {
        background-color: #2e2c2c;
    }
   
     @media (min-width: 1200px) {
         width: 9.036%;
     }
}

.search-container__close-button {
    position: absolute;
    top: 1.8125rem;
    right: 2.8125rem;



    span {
        opacity: 1;
        color: #ffffff;
        width: 0.875rem;
        height: 0.875rem;
    }
}


/**/